.schedule-title{
    font-size: 30px;
    margin-bottom: 0;
}

.schedule-table{
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: transparent;
    table-layout: fixed;
    text-align: center;
}

.schedule-table th{
    border: none;
}

.schedule-table thead th{
    color: #040852;
}

.schedule-table thead{
    margin-bottom: 15px;
}

.schedule-table tbody th{
    width: 140px;
    height: 40px;
    background-color: transparent;
    color: black;
    border-color: #040852;
}

.schedule-table th{

    background-color: white;
    position: relative;
}

.schedule-table td{
    background-color: white;
    position: relative;
}

.date {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #0056b3;
    font-weight: bold;
    margin-right: 10px;
}

.lesson{
    margin-top: 10px;
    display: flex;
}
.day{
    gap: 10px;
}

.time{
    color: #808080;
    width: 40px;
    height: 56px;
}












