/* global.css */
@font-face {
    font-family: 'Jura';
    src: url('./fonts/Jura-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark-blue: #003366;
    --bright-blue: #007BFF;
    --medium-green: #ffffff;
    --light-green: #8BC34A;
    --bright-orange: #FF9800;
    --dark-orange: #FF5722;
    --light-gray: white;
    --gray: #000000;
    --dark-gray: #040852;
    --light-beige: rgba(0, 123, 255, 0.11);
    --bright-red: #fd4436;
    --purple: #9C27B0;
    --link-blue: #007BFF;
    --hover-blue: #0056b3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Jura;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: white;
}

main{
    background-color: white;
}
